@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*corpo do site*/
.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #121212;
   font-family: 'Roboto', sans-serif;
}

/*campo que tem o mapa e outras funcionalidades*/
.container {
   width: 70%;
}

.trilhas {
   display: flex;
   padding-bottom: 20px !important;
   margin-top: 1%;
   height: 100%;
   width: 1903px;
   font-size: clamp(20px, 10px + 3vw, 40px);
}

.trilhas p {
   margin: 0 !important;
}

.trilhas img {
   margin-left: -40%;
   margin-top: 20%;
   width: 150px;
   height: 2px;
   left: 65px;
   top: 1100px;
}

.conteudo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 !important;
   margin: 0 !important;
   height: 100%;
   width: 100%;
   margin-bottom: 40px !important;
}

/*localização*/
.Localização,
.Dificuldade,
.Distancia {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   margin: 0 !important;
}

.Localização p,
.Dificuldade p,
.Distancia p {
   margin: 0 !important;
}

.img-title {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.seções {
   display: flex !important;
   flex-direction: column !important;
   align-items: flex-start !important;
   justify-content: space-around !important;
   gap: 50px;
   width: 30% !important;
   height: 100% !important;
}

.mapa {
   width: 70% !important;
   margin: 0 !important;
   padding: 0 !important;
   height: 100% !important;
}

.responsive-iframe {
   margin: 0 !important;
   padding: 0 !important;
   width: 100% !important;
   height: 70vh !important;
   border: 1px solid #ffd600;

   border-radius: 10px;
}

/*informaçoes*/
.informações {
   display: flex;
   flex-direction: column;
   gap: 50px;

   background-color: #4b4b4b;
   align-items: center;
   padding: 50px 0;

   width: 100%;
   height: 100%;
}

.blococinza {
   display: flex;
   align-items: center !important;
   justify-content: center !important;
}

.box {
   display: flex;
   flex-direction: column;

   width: auto !important;
   height: auto !important;

   font-size: clamp(30px, 4px + 2vw, 40px);
   padding: 50px !important;
   margin: 0 !important;

   color: #ffd600;
   border: 2px solid #ffd600;
   border-radius: 10px;
}

.imagem img {
   padding: 0 !important;
   padding-bottom: 40px !important;
   margin: 0 !important;
   height: auto !important;
   width: 100% !important;
}

.linha img {
   padding: 0 !important;
   padding-top: 60px !important;
   margin: 0 !important;
   height: auto !important;
   width: auto !important;
}

.b {
   width: 100%;
   height: 50% !important;
   margin: 0 !important;
   padding: 0 !important;
}

.b1 {
   width: 100%;
   height: 50% !important;
   margin: 0 !important;
   padding: 0 !important;
   padding-left: 20px !important;
}

/*sobre a trilha*/
.amarela {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;

   padding: 10px !important;

   margin: 0 !important;
   height: 100% !important;
   width: 100% !important;

   color: #000000;
   background-color: #ffd600;
}

.text-amarela {
   height: 100% !important;
   width: 40% !important;
}

.amarela p {
   padding: 0 !important;
   margin: 0 !important;
   height: 100% !important;
   width: 100% !important;
   font-size: clamp(0.5rem, 0.8rem + 1vw, 5rem);
   text-align: justify;
}

.img-amarela {
   height: 100% !important;
   width: 30% !important;
}

.amarela img {
   padding: 0 !important;
   margin: 0 !important;
   height: 100% !important;
   width: 100% !important;
}

/* On screens that are 1800px wide or less, go from four columns to two columns */
@media screen and (max-width: 1800px) {
   .header {
      width: 100%;
      height: 100%;
   }

   .main {
      width: 100%;
      height: 100%;
   }
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
   .conteudo {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
   }

   .mapa {
      display: flex;
      height: 100%;
      height: 50vh;
      width: 75vw;
      left: 214px;
      top: 687px;
      margin: 1% auto;
      align-items: flex-end;
   }

   .amarela p {
      width: 100%;
      height: 100%;
      padding-top: 6%;
      padding-bottom: 3%;
      padding-left: 5%;
      padding-right: 0%;
      font-size: clamp(0.5rem, 0.8rem + 1vw, 5rem);
      justify-items: center auto;
      text-align: justify;
   }

   .amarela img {
      height: 30vh;
      width: 45vw;
      left: 214px;
      top: 687px;
      padding: 2% auto;
      margin-top: -1%;
   }

   /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
      .header {
         width: 100%;
         height: 100%;
      }

      .main {
         width: 100%;
         height: 100%;
      }

      .conteudo {
         display: flex;
         width: 100%;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         padding: 25px;
      }

      .trilhas img {
         margin-left: -40%;
         margin-top: 20%;
         width: 100px;
         height: 2px;
         left: 65px;
         top: 1100px;
      }

      .imagem img {
         padding-top: 0px;
         margin-right: 50px;
         margin-left: -0.1%;
         height: 0.15vw;
         width: 100px;
         width: 100%;
      }

      .linha img {
         margin-top: 150px;
         height: 0.05vw;
         width: 100px;
         margin-left: -0.2%;
         width: 100%;
      }
   }
   @media screen and (max-width: 480px) {
      .header {
         width: 100%;
         height: 100%;
      }

      .titulo {
         text-align: center;
      }

      .p1 {
         margin: 2% 0% 2% 15%;
      }

      .main {
         width: 100%;
         height: 100%;
      }
   }
   @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
      .headers {
         width: 100%;
         margin: 0 auto;
         padding: 0;
      }

      header {
         background-size: cover;
         background-repeat: no-repeat;
         height: calc(100vh - 100px);
         background-image: url('../../../public/imagens/image1.png');
         background-position: center;
      }

      .toolbar {
         background-color: rgba(0, 0, 0, 0.221);
         -webkit-backdrop-filter: blur(5px);
         backdrop-filter: blur(0.8px);
      }

      .main {
         width: 100%;
         height: 100%;
      }

      .titulo {
         width: 100%;
         height: 100vh;
         top: 100vh;
         background-color: rgba(0, 0, 0, 0.221);
         -webkit-backdrop-filter: blur(5px);
         backdrop-filter: blur(0.8px);
      }

      .p {
         font-size: 35px;
         margin-bottom: 50px;
      }

      .p1 {
         align-content: center;
         font-size: 35px;
         margin-left: 175px;
         margin-bottom: 50px;
      }
   }
}
