.cardFundo{
    position: absolute;
    position: inherit;
    margin: 20px;

}

#id1{
    right: 14%;

}

#id2{
    right: 5%;
}

#id3{
    left: 5%;
}

#id4{
    right: 7%;
}

#id5{
    left: 3%;
}

#id6{
    left: 15%;
}