.feed-Home {
   display: flex;
   flex-direction: row;
   justify-content: center;

   width: 100%;
   padding: 25px;
}

.area {
   font-size: 30px;

   width: 250px;
   height: 200px;
   
   margin: 10px;

   border: 2px solid #ffd500bb;
   border-radius: 10px;

   color: #ffd600;
   background-color: #323131;
}

.area:hover {
   text-decoration: none;

   color: #323131;
   background-color: #ffd600;
   border-color: #323131;

   cursor: pointer;
   transition-duration: 0.5s;
}
