/*Rodapé*/
.footer{
    background-color: #323131;
    width: 100%;
    height: 100%;
    height: 366px;
    font-size: clamp(0.5rem, 0.8rem + 1vw, 2rem);
    justify-content: space-evenly;

}
.rodape {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: relative;

}
.logSobre{
    display: flex;
    justify-content: center;
}
.logSobre img{
    display: flex;
    height: 100%;
    width: 50%;
    left: 90%;
    top: 90%;
    background-color: blue;
}
.Copyright{
    display: flex;
    justify-content: center;
}
.icones li{
    color:white
}
.icones li:hover{
    text-decoration: none;
    color:#FFD600;
    cursor: pointer;
    transition-duration: 0.5s;
}