@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

.tituloLogin{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 66%;
    top: 81%;
    color: #FFD600;
    font-size: clamp(20px, 10px + 3vw, 55px);

}

.formLogin{
    position: absolute;
    width: 25%;
    height: 30%;
    left: 58%;
    top: 95%;
       
}
#link{
    position: absolute;
    top: 75%;
    color:#FFD600;
    text-decoration: none;
    font-size: clamp(5px, 6px + 1vw, 14px);
}

.bloco2Login{
    position: absolute;
    height: 0.1rem ;
    width: 27%;
    top: 90%;
    left: 57%;
    background-color: #FFD600;
}


#enviarlogin{
    position: absolute;
    width: 45%;
    right:0;
    background:  #FCE011;
    border: none;
    padding: 10px;
    color: #323131;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(4px, 1px + 2vw, 15px);
    border-radius: 15px;
    
}

#enviarlogin:hover{
    text-decoration: none;
    background:  #323131;
    color: #FCE011;
    cursor: pointer;
    transition-duration: 0.5s;
}

.Sair{
    position: absolute;
    width: 4%;
    right:0;
    border: none;
    padding: 10px;
    color: #FCE011;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(4px, 1px + 2vw, 15px);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.221);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(0.8px);
}
.Sair:hover{
    text-decoration: none;
    
    color: red;
    cursor: pointer;
    transition-duration: 0.5s;
}
@media screen and (max-width: 1400px){

    #link{
        top: 120%;
    }

    .tituloLogin{
        top: 78%;
        left: 66%;
    }

    .bloco2Login{
        top: 89%;
    }
}