@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.bloco_perfil {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.bloco_img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40%;
   height: 600px;
   background-color: #fce011;
}

.bloco_form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 60%;
   background-color: #121212;
}

.tituloPerfil {
   padding: 10px 80px;
   text-align: center;
   color: #ffd600;
   font-size: clamp(20px, 10px + 3vw, 55px);
   border-bottom: 1px solid #fce011;
   margin-bottom: 30px;
}

.formperfil {
   display: flex;
}

.inputBox_perfil {
   display: flex;
   flex-direction: column;
   color: #fce011;
}

.tipo_usuario_perfil {
   border: none;
   width: 100%;
   padding: 6px;
   color: #323131;
   font-size: clamp(5px, 5px + 3vw, 20px);
   width: 390px;
}

.labelInput {
   padding-bottom: 10px;
   font-size: clamp(10px, 2px + 2vw, 15px);
   margin-top: 20px;
}

.inputUser_perfil {
   border: none;
   border-bottom: 1px solid white;
   outline: none;
   width: 300px;
   padding: 6px;
   border-radius: 8px;
   color: #323131;
   font-size: clamp(5px, 5px + 3vw, 20px);
   width: 390px;
}

.error-message {
   color: rgb(240, 47, 47);
}

.enviar_perfil {
   display: flex;
   justify-content: flex-end;
   margin-top: 20px;
}

#Salvar {
   background: #fce011;
   border: none;
   padding: 10px;
   color: #323131;
   font-weight: bold;
   cursor: pointer;
   font-size: clamp(4px, 1px + 2vw, 15px);
   border-radius: 10px;
}

#Salvar:hover {
   text-decoration: none;
   background: #323131;
   color: #fce011;
   cursor: pointer;
   transition-duration: 0.5s;
}

@media screen and (max-width: 900px) {
   .pLogin {
      left: 46%;
      top: 36%;
   }

   .p1Login {
      left: 46%;
      top: 46%;
   }

   #logoLog {
      position: absolute;
      display: flex;
      width: 23%;
      height: 33%;
      top: 26%;
      left: 10%;
   }

   #logoImg {
      display: flex;
      width: 9%;
      height: 9%;
      margin-top: -360px;
   }

   .titulo {
      position: absolute;
      width: 13%;
      height: 7%;
      left: 61.5%;
      top: 81%;
      color: #ffd600;
      font-size: clamp(20px, 10px + 3vw, 55px);
   }

   .inputBox {
      position: relative;
      padding: 1px;
   }
}

@media screen and (max-width: 900px) {
   .cabecario {
      width: 100%;
      height: 100%;
      height: 100vh;
   }

   .pLogin {
      left: 46%;
      top: 36%;
   }

   .p1Login {
      left: 46%;
      top: 46%;
   }

   #logoLog {
      position: absolute;
      display: flex;
      width: 23%;
      height: 33%;
      top: 26%;
      left: 10%;
   }

   .Perfil {
      position: absolute;
      justify-content: center;
      align-self: center;
      height: 7%;
      top: 59%;
      color: #ffd600;
      font-size: clamp(20px, 10px + 3vw, 55px);
   }

   .inputBox {
      position: relative;
      padding: 1px;
   }
}
